#UniversalTable {
    width: 100%;
    height: 100%;
    background-image: url("../../img/image.png");
    display: flex;
    padding-bottom: 10%;
}

    #UniversalTable .gameName {
        text-align: center;
        color: white;
        font-family: PokerKing, serif;
        margin-top:2%;
        font-size: 60px;
    }
